/*
 * - 定位属性：relative、absolute
 * - padding 和 margin 快捷类，缩写，全写两种形式， 主要是能被2整除、5整除。例如：dc-m-10, dc-margin-10, dc-p-l-4, dc-padding-left-4
 */

.dc-relative, .dc-rela {
  position: relative;
}

.dc-absolute, .dc-abso {
  position: absolute;
}

// 定义内外边距，历遍1-80
@for $i from 0 through 80 {
  // 只要双数和能被5除尽的数
  @if $i % 2 == 0 or $i % 5 == 0 {
    // 如：dc-margin-30或者dc-m-30
    .dc-margin-#{$i}, .dc-m-#{$i} {
      margin: $i + rpx!important;
    }

    // 如：dc-padding-30或者dc-p-30
    .dc-padding-#{$i}, .dc-p-#{$i} {
      padding: $i + rpx!important;
    }

    @each $short, $long in l left, t top, r right, b bottom {
      // 缩写版，结果如： dc-m-l-30
      // 定义外边距
      .dc-m-#{$short}-#{$i} {
        margin-#{$long}: $i + rpx!important;
      }

      // 定义内边距
      .dc-p-#{$short}-#{$i} {
        padding-#{$long}: $i + rpx!important;
      }

      // 完整版，结果如：dc-margin-left-30
      // 定义外边距
      .dc-margin-#{$long}-#{$i} {
        margin-#{$long}: $i + rpx!important;
      }

      // 定义内边距
      .dc-padding-#{$long}-#{$i} {
        padding-#{$long}: $i + rpx!important;
      }
    }
  }
}
